.App-clock {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.clock-text {
	margin-bottom: 2%;
	font-size: 20px;
	font-weight: 600;
	font-family: Lobster, Pattaya, Roboto, sans-serif;
}
.clock-time, .clock-date {
	font-size: 17px;
}
@media all and (min-width: 768px) and (max-width: 992px) {
	.clock-text {
		font-size: 18px;
	}
	.clock-time, .clock-date {
		font-size: 16px;
	}
}
@media all and (min-width: 576px) and (max-width: 768px) { 
	.App-clock {
		width: 35%;
		height: 60%;
	}
	.clock-text {
		font-size: 18px;
	}
	.clock-time, .clock-date {
		font-size: 16px;
	}
}
@media all and (min-width: 320px) and (max-width: 576px) { 
	.App-clock {
		height: 25%;
	}
	.clock-text {
		font-size: 18px;
	}
	.clock-time, .clock-date {
		font-size: 16px;
	}
}